.env
**/venv/
**/__pycache__/
**/*.pyc
.venv/
.idea/
.vscode/
.DS_Store
node_modules/
dist/
build/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
.envrc
.env.local
.env.production
.env.testing
*.egg-info/
.coverage
.tox/
.pycache/   
# Ignore trained models
finetuned-gpt2/
*.bin
*.pt
*.ckpt
